@charset "UTF-8";
@import url(/fontes/idroid.otf);
*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebe5c5 ;
}

header{
    background-image: linear-gradient(to bottom,  #3ddc84, #2fa866, #1a5c37, #063d1e) ;
    height: 15em;
}
header > h1 {
    text-align: center;
    color: white;
    padding: 0.5em;
    font-size: 2.5em;

}
header > p{
    text-align: center;
    color: white;
    padding: 0.5em;
    font-size: 1.2em;
}
header > nav{
    
    margin-top: 3em;
    padding-left: 2em;
}

header > nav > a{
    color: #83e1ad;
    text-decoration: none;
    margin-right: 0.5em;
    
}

header > nav > a:hover{
    background-color: #83e1ad;
    color: white;
    border-radius: 2px;
    padding: 0.5em;
   
    
}
article{
    width: 60%;
    margin: auto;
    padding: 2em;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    

}
article > h1 {
    margin-bottom: 0.5em;
    color: #063d1e ;
    
}


article > p{
    text-align: justify;
    margin-bottom: 1em;
    text-indent: 1em ;
}

article > h2{
    margin-bottom: 1em ;
    padding: 0.1em;
    color: #063d1e ;
    background-image: linear-gradient(to right, #2fa865a2, #3ddc854f, #60a8802f );
}
article > picture > img{
    width: 100%;
    margin-bottom: 1em ;
}
article > p > a {
    text-decoration: none;
    background-color: #83e1ad;
    color:#063d1e ;
    padding: 0.3em;
    font-weight: bold;
}
article > p > span {
    font-weight: bold;
    color: #063d1e ; 
}
article > img {
    display: block;
    margin: 0 auto;
}

.video {
    background-color: #063d1e ;
    height: 30em;
    
    margin-bottom: 10px;
}
article > aside{
    background-color: #2fa866;
    border-radius: 10px;
}
.video > iframe{
    display: block;
    margin: 0 auto;
    padding-top: 2em;
}
article > aside > h3{
    background-color: #063d1e;
    padding: 0.4em;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
article > aside > p{
    text-align: justify;
    margin-bottom: 1em;
    text-indent: 1em ;
    padding: 0.6em;
}
article > aside > ul {
    display: flex;
    margin-bottom: 5px;
    
    
}
article > aside > ul > div > li{
    list-style: none;
    
    
    
}
article > aside > ul > div > li > span{
    border-bottom: 1px dashed black;
    
    
    
}
.segunda-lista{
    margin-left: 30%;
}
article > aside > p > span {
    font-weight: bold;
    color: #063d1e ; 
}
article > aside > p > a {
    text-decoration: none;
    color:#063d1e ;
    font-weight: bold;
}
article > aside > p > a:hover {
    text-decoration: underline;
}

footer{
    background-color: #063d1e;
    margin-top: 2em;
    height: 2em;
}
footer > p {
    text-align: center;
    padding-top: 0.5em;
    color: white;
}
footer > p > a{
    text-decoration: none;
    color: white;
}
footer > p > a:hover{
    text-decoration: underline;
    color: #2fa866;
}
